*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;   
    scroll-behavior: smooth;
    color: rgba(0,0,0,.5);    
}


/* input search city */
aside{
    background-color: rgb(192, 192, 192);
    padding: 2rem;
    padding-bottom: 100%; 
}

/* output. City name and weather characteristics */
main{
    background-color: white;
    overflow: hidden;
}

main.section{
    padding: .5rem .5rem;
}

main p{
   padding-bottom: 2rem;
}

.sections{
    border-style: solid;
    border-width: .05rem;
    border-color: black;
    padding: 1rem; 
}

.day{
   padding: 2rem; 
}




/* media queries */
@media screen and (max-width: 500px){
    main.section {
        padding: 0.5rem .5rem;
        clear: both;
    }

    aside{
        background-color: rgb(192, 192, 192);
        padding: 2rem;
        
    }

    aside {
       
        padding: 2rem;
        padding-right: 5rem;
    }
    
}

